
.greeting {
  height: 807rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(359.89deg, #FFFFFF 0.1%, rgba(255, 255, 255, 0) 19.38%, rgba(255, 255, 255, 0) 80.97%, #FFFFFF 99.9%), url('../../public/bg/bg-greeting.png');
  // background-image: url('../public/bg/bg-greeting.png');
  background-size: 1904rem 110%; 
  background-position: 0 -80rem;
  margin: 80rem 0 0;
  background-repeat: no-repeat;
  
  &__info {
    margin: 25rem 0rem 0 200rem;
    color: #1B2B4B;
    font-family: 'Inter';

    &_tagline {
      display: flex;
      align-items: center;
      transform: translateX(-110rem);

      &_line {
        width: 88rem;
        height: 1rem;
        background: linear-gradient(270deg, #1B2B4B 0%, rgba(27, 43, 75, 0) 93.51%);
        border-radius: 1rem;
        margin: 0 21rem 0 0;

        &_right {
          display: none;
        }
      }

      &_text {
        font-family: 'Cormorant Unicase';
        font-weight: 500;
        font-size: 32rem;
        line-height: 140%;
        margin: 0;
      }
    }

    &_title {
      font-weight: 700;
      font-size: 44rem;
      line-height: 130%;
      margin: 93rem 0 0;
    }

    &_subtitle {
      font-weight: 700;
      font-size: 28rem;
      line-height: 130%;
      margin: 5rem 0 0;
    }

    &_text {
      font-weight: 400;
      font-size: 22rem;
      line-height: 140%;
      margin: 42rem 0 0;
    }

    &_contact {
      display: flex;

      &_tel {
        font-family: 'Cormorant Infant';
        font-weight: 700;
        font-size: 60rem;
        line-height: 140%;
        margin: 0 90rem 0 0;
      }

      &_social {
        width: 229rem;
        height: 63rem;
        display: flex;
        padding: 0;

        &_item {
          margin: 0 21rem 0 0;
        }

        &_link {
          display: block;
          border-radius: 50%;
          border: none;
          background-size: cover;
          width: 62rem;
          height: 62rem;
          transition: 0.2s ease;

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        &_watsapp {
          width: 62rem;
          height: 62rem;
          background-image: url('../../public/icons/social-watsapp.svg');
        }
        &_vk {
          background-image: url('../../public/icons/social-vk.svg');
        }
        &_telegram {
          background-image: url('../../public/icons/social-telegram.svg');
        }
      }

    }
    &_consultation {
      width: 363rem;
      height: 57rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 22rem;
      line-height: 140%;
      color: #fff;
      background-color: #F2A446;
      box-shadow: 3rem 4rem 6rem rgba(164, 94, 10, 0.2);
      border-radius: 8rem;
      margin: 50rem 0 0;

      &:hover {
        cursor: pointer;
        background-color: #1B2B4B;
      }

      &_call {
        margin: 30rem 0 0;
        background-color: transparent;
        color: #1B2B4B;
        border: 3px solid #1B2B4B;
        box-shadow: none;

        &:hover {
          background-color: #1B2B4B;
          color: #fff;
        }
      }

      &_icon {
        width: 34rem;
        height: 34rem;
        background-image: url('../../public/icons/ring-dark.svg');
        background-size: cover;
        margin: 0 10rem 0 0;
      }

      &:hover &_icon {
        background-image: url('../../public/icons/ring-white.svg');
      }
    }
  }

  &__image {
    margin: 83rem 0 0 168rem;
    width: 760rem;
    height: 603rem;
  }
}

@media screen and (max-width: 768px) {
  .greeting { 
    height: 957rem;
    background-image: url('../../public/bg/bg-greeting-mobile.png');
    background-position: 0 -60rem;
    margin: 60rem 0 0;
    justify-content: center;

    &__info { 
      width: 620rem;
      margin: 37rem 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      &_tagline {
        transform: translateX(0rem);
        width: 100%;
        justify-content: space-between;

        &_line {
          border-radius: 2rem;
          margin: 0 23rem 0 0;
  
          &_right {
            display: block;
            width: 88rem;
            height: 1rem;
            background: linear-gradient(270deg, #1B2B4B 0%, rgba(27, 43, 75, 0) 93.51%);
            border-radius: 2rem;
            margin: 0 0 0 23rem;
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
        }

        &_text {
          font-size: 30rem;
        }
      }

      &_title {
        margin: 47rem 0 0;
      }

      &_subtitle {
        font-size: 25rem;
        margin: 13rem 0 0;
      }

      &_text {
        font-weight: 400;
        font-size: 35rem;
        line-height: 140%;
        margin: 45rem 0 0;
      }    
      
      &_contact { 
      flex-direction: column;
      align-items: center;

        &_tel {
          font-size: 88rem;
          margin: 0;
        }
  
        &_social {
          margin: 275rem 0 0;
          width: 330rem;
  
          &_link {
            width: 95rem;
            height: 95rem;
          }
        }
      }

      &_consultation {
        width: 417rem;
        height: 80rem;
        font-size: 26rem;
        transform: translateY(-350rem);
        border-radius: 6rem;

        &_icon {
          width: 38rem;
          height: 38rem;
          margin: 0 15rem 5rem 0;
        }
      }
    }

    &__image {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .greeting {
    padding: 60rem 0 0;

    &__info { 
      margin: 40rem 0 0;

      &_tagline {
        width: 120%;

        &_text {
          font-size: 36rem;
        }
      }

      &_contact { 
        &_social {
          margin: 300rem 0 0;
          height: 24rem;
        }
      }

      &_consultation {
        width: 100%;
        height: 100rem;
        font-size: 34rem;
        border-radius: 12rem;
  
      }
    }

  }
}