.services_main {
  min-height: 550rem;
  background-image: url('../../public/bg/bg-services-page.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
  color: #1B2B4B;

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 80rem 200rem 0 200rem;

    &__container {
      display: flex;
      flex-direction: column;
      
      &_left{
        align-items: flex-start;
      }
      &_center {
        align-items: center;
        transform: translateX(55rem);
      }
      &_right {
        align-items: flex-end;
      }
    }
    &__text {
      font-family: "Cormorant Unicase";
      font-weight: 500;
      font-size: 22rem;
      line-height: 140%;
      color: #1B2B4B;
      margin: 0 0 7rem;
    }
    &__line_left {
      width: 197rem;
      height: 1rem;
      background: linear-gradient(90deg, #1B2B4B 6.56%, rgba(27, 43, 75, 0) 71.49%);
    }
    &__line_center {
      width: 221rem;
      height: 1rem;
      background: radial-gradient(50% 50% at 50% 50%, #1B2B4B 0%, rgba(27, 43, 75, 0) 100%);
    }
    &__line_right {
      width: 300rem;
      height: 1rem;
      background: linear-gradient(90deg, #1B2B4B 6.56%, rgba(27, 43, 75, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &__heading {
    display: flex;
    margin: 57rem 0 0 200rem;

    &__title {
      font-weight: 700;
      font-size: 56rem;
      line-height: 130%;
      margin: 0 66rem 0 0;
    }
    &__icon {
      width: 172rem;
      height: 204rem;
      margin: 0 104rem 0 0;
    }
    &__subtitle {
      font-weight: 500;
      font-size: 56rem;
      line-height: 130%;
      margin: 0 0 0 0;
    }
  }

  &__intro {
    display: flex;
    justify-content: space-between;
    margin: -50rem 200rem 0;

    &__container {

    }
    &__text {
      width: 702rem;
      margin: 0;
      font-weight: 500;
      font-size: 22rem;
      line-height: 180%;
    }
    &__box {
      display: flex;
      align-items: self-end;
      position: relative;

    }
    &__btn {
      width: 383rem;
      height: 62rem;
      margin: 57rem 52.8rem 0 0;

      background: #F2A446;
      box-shadow: 3rem 4rem 6rem rgba(164, 94, 10, 0.2);
      border-radius: 8rem;
      border: none;
      color: #fff;
      font-family: 'Inter';
      font-weight: 500;
      font-size: 22rem;
      line-height: 140%;
    }
    &__btn:hover {
      cursor: pointer;
      background-color: #1B2B4B;
    }
    &__price {
      width: 323rem;
      height: 62rem;
      margin: 0rem 0 0;

      background: transparent;
      border-radius: 8rem;
      border: 3rem solid #1B2B4B;
      color: #1B2B4B;
      font-family: 'Inter';
      font-weight: 500;
      font-size: 22rem;
      line-height: 140%;

      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &__icon {
        width: 48.3rem;
        height: 48.3rem;
        margin: 0 12rem 3rem 14rem;
        background-image: url('../../public/icons/icon-price.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }

      &__text {
        font-weight: 300;
        font-size: 18rem;
        line-height: 140%;
        color: #1B2B4B;
        position: absolute;
        bottom: -60rem;
        right: 0;
      }
    }
    &__img {
      width: 575rem;
      height: 410rem;
    }
  }

  &__tagline {
    display: flex;
    align-items: center;
    margin: 140rem 0 0 85rem;

    &__line {
      width: 88.7rem;
      height: 1rem;
      margin: 0 28rem 0 0;
      background: linear-gradient(269.99deg, #1B2B4B 0.03%, rgba(27, 43, 75, 0) 100%);
      
    }
    &__title {
      font-weight: 600;
      font-size: 36rem;
      line-height: 180%;
      margin: 0;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 44rem 0 112rem 200rem;
  }

  &__item {
    width: 227rem;
    height: 229rem;
    margin: 31rem 31.5rem 0 0;
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &__icon {
      width: 131rem;
      height: 131rem;
      margin: 20.8rem 0 0;
    }

    &__text {
      font-weight: 600;
      font-size: 18.7rem;
      line-height: 140%;
      margin: 10rem 0 0;
      text-align: center;
    }
  }

  &__request {
    display: flex;
    height: 402rem;
    background-image: url('../../public/bg/bg-services-request.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Inter';
    color: #fff;

    &__container {
      margin: 61rem 0 0 200rem;
    }

    &__title {
      font-weight: 600;
      font-size: 32rem;
      line-height: 160%;
      margin: 0;
    }
    &__text {
      font-weight: 400;
      font-size: 22rem;
      line-height: 140%;
      margin: 16rem 0 0;
    }

    &__form {
      display: flex;
      margin: 30rem 0 30rem;

      &__input {
        width: 555rem;
        height: 79rem;
        border: 1rem solid #C9D5E8;
        box-shadow: inset 0 0 34rem #F2F2F2;
        border-radius: 8rem;
        padding-left: 16rem; 
        padding-top: 0rem;
        margin: 0 25rem 0 0 ;
    
        font-weight: 500;
        font-size: 22rem;
        line-height: 140%;
        color: #071737;

        &::placeholder {
          color: #859AB5;
        }
      }

      &__button {
        width: 323rem;
        height: 79rem;
        background: #F2A446;
        border-radius: 8rem; 
        border: none;
        font-weight: 600;
        font-size: 22rem;
        line-height: 140%;
        color: #fff;
        margin: 0rem 0;
        &:hover {
          cursor: pointer;
          // background-color: #071737;
        }
      }

      &_send {
        font-weight: 600;
        font-size: 32rem;
        line-height: 160%;
        margin: 90rem 180rem 0 50rem;
      }
    }

    &__phone {
      display: flex;
      flex-direction: column;
      margin: 128rem 0 0 225rem;

      &__text {
        font-weight: 500;
        font-size: 24rem;
        line-height: 140%;
        margin: 0;
      }
      &__number {
        font-family: 'Cormorant Infant';
        font-weight: 700;
        font-size: 64rem;
        line-height: 140%;
        margin: 24rem 0 0;
        color: #fff;
      }
    }

  }

}

@media screen and (max-width: 768px) {
  .services_main {

    &__top {
      justify-content: space-between;
      width: 640rem;
      margin: 80rem auto 0;

      &__container {
        
        &_left{
          // display: none;
        }
        &_center {
          transform: translateX(0rem);
        }
        &_right {
          // display: none;
        }
      }

      &__line_left {
        width: 122rem;
      }
      &__line_center {
       
      }
      &__line_right {
        width: 129rem;
      }

      &__text_deckpop {
        display: none;
      }
    }
    &__heading {
      flex-direction: column;
      margin: 57rem auto 0;

      &__title {
        font-size: 54rem;
        margin: 0 0 0 0;
      }
      &__icon {
        display: none;
      }
      &__subtitle {
        font-size: 58rem;
        margin: 7rem 0 0 0;
      }
    }

    &__intro {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      margin: 67rem auto 0;

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 67.9rem 0 0;
      }
      &__text {
        text-align: center;
      }
      &__box {
        flex-direction: column;
        align-items: center;
      }
      &__btn {
        width: 450rem;
        height: 80rem;
        margin: 67rem 0 0;
        font-size: 26rem;
      }
      &__price {
        width: 450rem;
        height: 80rem;
        margin: 45rem 0 0;
        font-size: 26rem;
        &__icon {
          width: 48.3rem;
          height: 48.3rem;
          margin: 0 26rem 3rem 40rem;
        } 
        &__text {
          font-size: 23rem;
          bottom: -75rem;
          right: 20rem;
        }
      }
      &__img {
        width: 550rem;
        height: 388rem;
      }
    }

    &__tagline {
      margin: 130rem auto 0;
  
      &__line {
        display: none;
      }
    }

    &__list {
      margin: 27rem auto 84rem;
      padding: 0 20rem 0 40rem;
    }

    &__item {
      width: 137rem;
      height: 138rem;
      margin: 41rem 30rem 0 0;
      padding: 0 8rem;

      &:nth-child(4n+4) {
        margin: 41rem 0 0 0;
    }

      &__icon {
        width: 79rem;
        height: 79rem;
        margin: 12.6rem 0 0;
      }

      &__text {
        font-size: 11.3rem;
        margin: 5.6rem 0 0;
      }
    }

    &__request {
      flex-direction: column;
      height: 694rem;
      background-image: none;

      &__container {
        height: 426rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        background: #1B2B4B;
      }

      &__title {
        font-size: 28rem;
        line-height: 140%;
        margin: 76rem 0 0;
      }
      &__text {
        font-weight: 500;
        font-size: 18rem;
        margin: 14rem 0 0;
        color: #C6D5EA;
        opacity: 0.7;

        &_modify {
          transform: translateY(-205rem);
        }
      }

      &__form {
        flex-direction: column;
        margin: 65rem 0 0rem; 

        &__input {
          width: 417rem;
          height: 56rem;
          border-radius: 6rem;
          margin: 0 0rem 0 0 ;
          font-size: 16rem;
          line-height: 120%;
        }
        &__button {
          width: 417rem;
          height: 56rem;
          border-radius: 6rem;
          font-weight: 700;
          font-size: 16rem;
          margin: 16rem 0 0;
        }
        &_send {
          font-size: 40rem;
          line-height: 170%;
          margin: 144rem 0 0 0rem;
          width: 460rem;
          text-align: center;
        }
      }

      &__phone {
        background: #F2A446;
        height: 269rem;
        margin: 0 0 0 0;
        align-items: center;
        justify-content: center;
  
        &__text {
          font-size: 26rem;
          margin: 0;
        }
        &__number {
          font-size: 68rem;
          margin: 8rem 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .services_main {
    &__list {
      align-items: flex-end;
      justify-content: center;
      margin: 27rem auto 130rem;
      padding: 0 20rem 0 20rem;
    }
    &__item {
      width: 200rem;
      height: 200rem;
      margin: 60rem 25rem 0 0;

      &:nth-child(4n+4) {
        margin: 60rem 25rem 0 0;
      }
      &:nth-child(3n+3) {
        margin: 60rem 0rem 0 0;
      }
      &__icon {
        width: 140rem;
        height: 140rem;
        margin: 0rem 0 0;
      }
      &__text {
        font-size: 20.3rem;
        margin: 16.6rem 0 0;
      }
    }
  }
}