
.header {
  height: 80rem;
  width: 1920rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  padding: 0 200rem;
  background-image: url('../public/bg/bg-greeting.png');
  // background-size: cover;
  background-size: 1900rem;
  position: fixed;
  transform: translateY(-80rem);
  z-index: 2;
  
  &_logo {
    min-width: 257rem;
    max-width: 257rem;
    margin: 0 220rem 0 0rem;
  }

  &_nav {
    width: 100%;
    height: 100%;
    display: block;
  }

  &_btn_container {
    width: 400rem;
    height: 50rem;
    margin: 0 0rem 0 0;
    display: flex;
  }

  &_btn {
    height: 48rem;
    border-radius: 8rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16rem;
    line-height: 140%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

   &_phone {
    width: 132rem;
    background-color: #1B2B4B;
    margin: 0 12rem 0 0;
   }
   
   &_profile {
     width: 195rem;
     background-color: #F2A446;
   }
  }

  &_mobile { 
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 61rem;
    background: #fff;
    padding: 0 22rem;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-60rem);


    &_logo {
      min-width: 198rem;
      width: 198rem;
      margin: 0 220rem 0 0rem;
    }

    &_nav {
      display: none;
    }

    &_btn_container { 
      display: none;
    }

    &_mobile {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 90rem;
      // border: 1px solid green;

      &_profile {
        width: 35rem;
        height: 35rem;

        &:hover {
          cursor: pointer;
        }
      }

      &_menu {
        width: 35rem;
        height: 35rem;
        padding: 0;
        background-color: transparent;
        border: none;


        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}