
.header {
  height: 80rem;
  width: 1920rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  padding: 0 200rem;
  background-image: url('../public/bg/bg-greeting.png');
  // background-size: cover;
  background-size: 1904rem;
  position: fixed;
  transform: translateY(-80rem);
  z-index: 2;
  
  &__second {
    width: 100%;
    position: relative;
    transform: translateY(0rem);
    background-image: none;
  }

  &__scroll {
    backdrop-filter: blur(4rem);
    background-image: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  &__logo {
    min-width: 257rem;
    max-width: 257rem;
    margin: 0 220rem 0 0rem;
  }

  &__nav {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__btn__container {
    width: 400rem;
    height: 50rem;
    margin: 0 0rem 0 0;
    display: flex;
  }

  &__btn {
    height: 48rem;
    border-radius: 8rem;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16rem;
    line-height: 140%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

   &__phone {
    width: 132rem;
    background-color: #1B2B4B;
    margin: 0 12rem 0 0;
   }
   
   &__profile {
     width: 195rem;
     background-color: #F2A446;
     border: none;
   }
  }

  &__mobile { 
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 61rem;
    background: #fff;
    padding: 0 22rem;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-60rem);

    &__second {
      transform: translateY(0rem);
    }

    &__logo {
      min-width: 198rem;
      width: 198rem;
      margin: 0 220rem 0 0rem;
    }

    &__nav {
      display: none;
    }

    &__btn__container { 
      display: none;
    }

    &__mobile {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 90rem;
      // border: 1px solid green;

      &__profile {
        width: 35rem;
        height: 35rem;

        &:hover {
          cursor: pointer;
        }
      }

      &__menu {
        width: 35rem;
        height: 35rem;
        padding: 0;
        background-color: transparent;
        border: none;


        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .header {
    height: 120rem;
    padding: 0 40rem;

    &__logo {
      min-width: 275rem;
      width: 275rem;
    }

    &__mobile {
      width: 130rem;

      &__profile {
        width: 50rem;
        height: 50rem;
      }
      &__menu {
        width: 50rem;
        height: 50rem;
      }
    }
  }
}