.services {  
  height: 887rem;

  background-image: url('../public/bg/bg-services.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter';
  color: #1B2B4B;

  &__name {
    margin: 117rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &_text {
      font-family: 'Cormorant Unicase';
      font-style: normal;
      font-weight: 500;
      font-size: 22rem;
      line-height: 140%;
      margin: 0 0 8rem;
    }
    &_line {
      width: 221rem;
      height: 1rem;
      background: radial-gradient(50% 50% at 50% 50%, #1B2B4B 0%, rgba(27, 43, 75, 0) 100%);
    }
  }

  &__title {
    margin: 32rem 0 0;
    font-weight: 700;
    font-size: 46rem;
    line-height: 130%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 880rem;
    margin: 30rem 0 0;
  }

  &__element {
    background-size: 325rem;
    background-repeat: no-repeat;
    background-position: center 42rem;
    width: 415rem;
    height: 510rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &_text {
      width: 332rem;
      height: 60rem;
      font-weight: 500;
      font-size: 24rem;
      line-height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_physical {
      background-image: url('../public/elements/services-physical.png');
      position: relative;

      &::after{
        content: '';
        position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        background-size: 370rem;
        background-repeat: no-repeat;
      }

      &:hover::after{
        cursor: pointer;
        background-image: url('../public/elements/services-physical-active.png');
      }
    }
  
    &_legal {
      background-image: url('../public/elements/services-legal.png');
      position: relative;

      &::after{
        content: '';
        position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        background-size: 359rem;
        background-repeat: no-repeat;
      }

      &:hover::after{
        cursor: pointer;
        background-image: url('../public/elements/services-legal-active.png');
        background-position: top right 12rem;
      }
    }

    &_physical:hover &_text {
      background-color: #1B2B4B;
      color: #fff;
      border-radius: 8rem;
    }

    &_legal:hover &_text {
      background-color: #1B2B4B;
      color: #fff;
      border-radius: 8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .services { 
    height: 1494rem;
    background-image: url('../public/bg/bg-services-mobile.png');

    &__name {
      margin: 170rem auto 0;
    }

    &__title {
      margin: 26rem 0 0;
      font-size: 54rem;
    }

    &__container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin: 0rem 0 0;
    }

    &__element { 
      margin: 50rem 0 0;

      &_text {
        background-color: #1B2B4B;
        box-shadow: 3rem 4rem 6rem rgba(164, 94, 10, 0.2);
        color: #fff;
        border-radius: 8rem;
        width: 370rem;
        height: 80rem;
        font-size: 26rem;
      }

      &_physical {
        background-image: url('../public/elements/services-physical-mobile.png');

        &:hover::after{
          cursor: pointer;
          background-image:none;
        }
      }

      &_legal {
        background-image: url('../public/elements/services-legal-mobile.png');

        &:hover::after{
          cursor: pointer;
          background-image:none;
        }
      }
    }
  }
}